
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 1000;
  src: local('UnifrakturCook'), url(http://themes.googleusercontent.com/static/fonts/unifrakturcook/v5/ASwh69ykD8iaoYijVEU6Rm_7m0YPLwupdydlBc09ccE.woff) format('woff');
}


html {
   overflow: hidden;
}

body {
   background-image: url(graphics/backgrounds/background-essen.png);
   height:           100%;
   font-family:      sans;
   margin:           0px;
}

h1 {
   text-align:    center;
   margin-top:    0pt;
   margin-bottom: 0pt;
   margin-top:    0pt;
   margin-bottom: 0pt;
   font-size:     28pt;
   font-family:   UnifrakturCook;
   color:         white;
}

h2 {
   text-align:    left;
   margin-left:   4pt;
   margin-right:  4pt;
   margin-top:    0pt;
   margin-bottom: 0pt;
   font-size:     24pt;
   font-family:   UnifrakturCook;
   color:         #02266B;
}

h3 {
   text-align:   left;
   margin-left:  8pt;
   margin-right: 8pt;
   font-size:    18pt;
   font-family:  UnifrakturCook;
   color:        #02266B;
}

p {
   text-align: left;
   font-size:  14pt;
   color:      #02266B;
}

li {
   font-size:  14pt;
}

hr {
   color:        #02266B;
   margin-left:  4pt;
   margin-right: 4pt;
}

.description {
   text-align:  justify;
   font-family: sans;
}

.center {
   text-align:  center;
   font-family: sans;
}

.header {
   position:     fixed;
   width:        100%;
   height:       36pt;
   top:          0;
   right:        0;
   bottom:       auto;
   left:         0;
   overflow:     hidden;
   background:   red;
}

.map {
   position:   fixed;
   width:      80%;
   height:     auto;
   top:        36pt;
   right:      0;
   bottom:     20pt;
   left:       0;
   float:      left;
   background: #0000cc;
}

.sidebar {
   position: fixed;
   width:    20%;
   height:   auto;
   top:      36pt;
   right:    0;
   bottom:   20pt;
   left:     auto;
   overflow: auto;
}

.critical {
  color: red;
}
.warning {
  color: orange;
}
.unknown {
  color: #555555;
}
.okay {
  color: green;
}

.clock {
   margin-bottom: 8pt;
   width:         80%;
}

.time {
   font-weight: bold;
   font-size:   14pt;
   text-align:  center;
   font-family: sans;
}

.date {
   font-weight: bold;
   font-size:   16pt;
   text-align:  center;
   font-family: UnifrakturCook;
}

.footer {
   position:     fixed;
   width:        100%;
   height:       20pt;
   top:          auto;
   right:        0;
   bottom:       0;
   left:         0;
   padding-left: 10px;
   overflow:     hidden;
   background:   red;
   color:        white;
}
