body {
   background-image: url(graphics/backgrounds/background-essen.png);
}

img.borderless {
   border-style: hidden;
}

h1 { text-align: center; }
h2 { text-align: left; }
h3 { text-align: left; }

p.description {
   text-align: justify;
}

p.center {
   text-align: center;
}

p.publication-details {
   text-align:    justify;
   margin-top:    8pt;
   margin-bottom: 8pt;
   margin-right:  12pt;
   margin-left:   12pt;
}

div.publication-details-hiddenbox {
   display:      none;
   border-style: dashed;
   border-width: 2px;
   border-color: #98bf21;
}

li.treeview-collapsed {
   list-style-image: url(graphics/icons/icon-collapsed.png);
}

li.treeview-expanded {
   list-style-image: url(graphics/icons/icon-expanded.png);
}

table.center {
   text-align:   left;
   margin-left:  auto;
   margin-right: auto;
}

table.previewtable {
   text-align:   left;
   margin-left:  auto;
   margin-right: auto;
}

td.previewtable {
   text-align:       center;
   vertical-align:   middle;
   background-color: rgb(255,255,75);
   font-size:        small;
}

td.sscontrol {
   text-align:       center;
   vertical-align:   middle;
   background-color: rgb(255,255,100);
   font-size:        small;
}

td.cvfield1 {
   width:          150px;
   vertical-align: top;
}

td.cvfield2 {
   width:          450px;
   vertical-align: middle;
}
