Source: nornet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: http://www.nntb.no/
Build-Depends: debhelper (>= 9),
               python (>= 2.7),
               python-ipaddr,
               python-support
Standards-Version: 3.9.3

Package: nornet-api
Architecture: any
Depends: python-ipaddr,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: NorNet API
 This package contains the NorNet Python API library. It contains functions
 to communicate with the central server (MyPLC), based on XMLRPC.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-routing
Architecture: any
Depends: iputils-ping,
         iputils-tracepath,
         traceroute,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Routing Control
 This package contains the scripts to configure the routing of NorNet
 nodes.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-management
Architecture: any
Depends: apt-show-versions,
         colordiff,
         cron,
         cron-apt,
         git,
         gpm,
         joe,
         lsb-base (>= 3.2-14),
         netperfmeter,
         openssh-server,
         rsplib-tools,
         snmp,
         subnetcalc,
         traceroute,
         virtualbox-guest-utils,
         whois,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Management Tools
 This metapackage contains basic software nor NorNet node management. The
 software installed provides a common working environment.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-development
Architecture: any
Depends: apt-file,
         debhelper,
         devscripts,
         pbuilder,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Development Tools
 This metapackage contains basic software nor NorNet development. The
 software installed provides a common working environment.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-node
Architecture: any
Conflicts: miredo
Depends: grub2,
         nornet-api,
         nornet-management,
         ntp,
         python (>= 2.7),
         rsplib-services,
         snmpd,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Node Control
 This package contains the scripts to configure a generic node on a NorNet
 site.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-tunnelbox
Architecture: any
Depends: grub2,
         ifupdown,
         nmap,
         nornet-api,
         nornet-management,
         nornet-node,
         nornet-routing,
         ntp,
         python (>= 2.7),
         snmpd,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Tunnelbox Control
 This package contains the scripts to configure the tunnelboxes of NorNet
 sites.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-monitor
Architecture: all
Conflicts: tntnet
Depends: apache2,
         libapache2-mod-php5,
         nagios3,
         nagios3-doc,
         nornet-management-tools,
         nornet-node,
         postfix,
         python (>= 2.7),
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Monitor
 This package contains the scripts to configure a generic monitoring station
 on a NorNet central site.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-display
Architecture: all
Depends: firefox,
         kubuntu-desktop,
         nornet-node,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Display
 This package contains the packages to set up a display station for the
 results of the monitoring station. It is in fact just a node with a web
 browser and the necessary GUI.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-server
Architecture: all
Conflicts: nornet-node
Depends: nornet-management,
         virtualbox,
         virtualbox-qt,
         xauth,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Server
 This package contains the scripts to configure a generic server system
 to host NorNet virtual machines.
 .
 See http://www.nntb.no for details on NorNet!
