Source: nornet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: http://www.nntb.no/
Build-Depends: debhelper (>= 9),
               imagemagick,
               libfile-fcntllock-perl,
               python (>= 2.7),
               python-ipaddr,
               python-support
Standards-Version: 3.9.4

Package: nornet-api
Architecture: any
Depends: python-ipaddr,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: NorNet API
 This package contains the NorNet Python API library. It contains functions
 to communicate with the central server (MyPLC), based on XMLRPC.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-management
Architecture: any
Depends: apt-show-versions,
         autofs,
         colordiff,
         cron,
         cron-apt,
         ethtool,
         git,
         gpm,
         htop,
         idn,
         joe,
         language-pack-de-base,
         language-pack-en-base,
         language-pack-nb-base,
         libfile-fcntllock-perl,
         lsb-base (>= 3.2-14),
         netperfmeter,
         nfs-common,
         nmap,
         nornet-api,
         nttcp,
         open-vm-tools,
         openssh-server,
         python-software-properties,
         rsplib-tools,
         smartmontools,
         snmp,
         subnetcalc,
         tftp,
         tracebox,
         traceroute,
         tshark,
         update-motd,
         virtualbox-guest-utils-nornet-stable | virtualbox-guest-utils,
         vlan,
         whois,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Conflicts: landscape-common
Replaces: landscape-common
Description: NorNet Management Tools
 This metapackage contains basic software nor NorNet node management. The
 software installed provides a common working environment.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-development
Architecture: any
Depends: apt-file,
         debhelper,
         devscripts,
         imagemagick,
         kbuild,
         pbuilder,
         r-base,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Development Tools
 This metapackage contains basic software nor NorNet development. The
 software installed provides a common working environment.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-node
Architecture: any
Conflicts: miredo
Depends: grub2,
         nornet-api,
         nornet-management,
         ntp,
         python (>= 2.7),
         rsplib-services,
         snmpd,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Node Control
 This package contains the scripts to configure a generic node on a NorNet
 site.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-tunnelbox
Architecture: any
Replaces: nornet-routing
Conflicts: nornet-routing
Depends: arpwatch,
         bind9,
         grub2,
         ifupdown,
         iptables-persistent,
         iputils-ping,
         iputils-tracepath,
         isc-dhcp-server,
         netstat-nat,
         nornet-api,
         nornet-management,
         nornet-node,
         ntp,
         python (>= 2.7),
         radvd,
         snmpd,
         traceroute,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Tunnelbox Control
 This package contains the scripts to configure the tunnelboxes of NorNet
 sites.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-filesrv
Architecture: all
Depends: nfs-kernel-server,
         nornet-node,
         python (>= 2.7),
         python-adns,
         tftpd-hpa,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet File Server
 This package contains the scripts to configure a file server
 on a NorNet central site.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-monitor
Architecture: all
Conflicts: tntnet
Depends: apache2,
         libapache2-mod-php5,
         nagios3,
         nagios3-doc,
         nornet-node,
         postfix,
         python (>= 2.7),
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Monitor
 This package contains the scripts to configure a generic monitoring station
 on a NorNet central site.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-display
Architecture: all
Depends: firefox,
         kubuntu-desktop,
         nornet-node,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Display
 This package contains the packages to set up a display station for the
 results of the monitoring station. It is in fact just a node with a web
 browser and the necessary GUI.
 .
 See http://www.nntb.no for details on NorNet!

Package: nornet-server
Architecture: all
Conflicts: nornet-node
Depends: grub2,
         libicu48,
         linux-image-generic,
         linux-source,
         nornet-management,
         ntp,
         python (>= 2.7),
         virtualbox-nornet-stable | virtualbox,
         xauth,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Server
 This package contains the scripts to configure a generic server system
 to host NorNet virtual machines.
 .
 See http://www.nntb.no for details on NorNet!
