Source: nornet
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.nntb.no/
Build-Depends: debhelper (>= 9),
               imagemagick,
               libfile-fcntllock-perl,
               python3-all
Standards-Version: 3.9.7
X-Python3-Version: >= 3.2
Vcs-Git: https://github.com/simula/nornet-control.git
Vcs-Browser: https://github.com/simula/nornet-control/tags

Package: nornet-management
Architecture: any
Depends: apport-retrace,
         apt-file,
         apt-show-versions,
         autofs,
         bridge-utils,
         btrfs-tools,
         colordiff,
         cron,
         cron-apt,
         ethtool,
         gddrescue,
         git,
         gpm,
         hping3,
         htop,
         idn,
         ipsec-tools,
         joe,
         kdump-tools,
         language-pack-de-base,
         language-pack-en-base,
         language-pack-nb-base,
         libc6-i386 [amd64],
         libfile-fcntllock-perl,
         linux-crashdump,
         lksctp-tools,
         lsb-base (>= 3.2-14),
         netperfmeter,
         nmap,
         ntpdate,
         nttcp,
         reiserfsprogs,
         rsplib-tools,
         secure-delete,
         smartmontools,
         snmp,
         software-properties-common,
         sslscan,
         subnetcalc,
         tftp,
         traceroute,
         tree,
         update-motd,
         virt-what,
         vlan,
         whois,
         xmlstarlet,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Recommends: tshark
Conflicts: kdeconnect,
           kdeconnect-plasma,
           landscape-common,
           minidlna,
           tntnet,
           webfs
Replaces: landscape-common
Description: NorNet Management Tools
 This metapackage contains basic software nor NorNet node management. The
 software installed provides a common working environment.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-x11
Architecture: any
Depends: fvwm,
         x11-apps,
         xdm,
         xloadimage,
         xserver-xorg,
         xterm,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: NorNet X11 Login
 This metapackage contains basic X11 software for NorNet systems. The
 software provides a very lightweight graphical login (fvwm) with a shell
 (xterm).
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-development
Architecture: any
Depends: autoconf,
         automake,
         autopoint,
         bison,
         createrepo,
         debhelper,
         devscripts,
         flex,
         gdb,
         gnuplot,
         imagemagick,
         kbuild,
         kernel-wedge,
         libbz2-dev,
         libdw-dev,
         libelf-dev,
         libglib2.0-dev,
         liblua5.2-dev,
         libnewt-dev,
         libpcap-dev,
         libsctp-dev,
         libtool,
         lua5.2,
         pbuilder,
         pkg-config,
         python3-psycopg2,
         quilt,
         r-base,
         r-cran-ggplot2,
         r-cran-hmisc,
         rpm,
         subversion,
         valgrind,
         yum-utils,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: python3-wand
Description: NorNet Development Tools
 This metapackage contains basic software nor NorNet development. The
 software installed provides a common working environment.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-api
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: NorNet API
 This package contains the NorNet Python API library. It contains functions
 to communicate with the central server (MyPLC), based on XMLRPC.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-node
Architecture: any
Conflicts: miredo, nornet-server
Depends: grub2-common | grub,
         nfs-common,
         nornet-api,
         nornet-management,
         ntp,
         openssh-server,
         python (>= 2.7),
         rsplib-services,
         snmpd,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: cfengine3,
            nornet-ca,
            open-vm-tools,
            virtualbox-guest-utils | virtualbox-guest-utils-nornet-stable | virtualbox-guest-utils-nornet-testing | virtualbox-guest-utils-nornet-experimental
Description: NorNet Node Control
 This package contains the scripts to configure a generic node on a NorNet
 site.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-tunnelbox
Architecture: any
Depends: arpwatch,
         bind9,
         conntrack,
         ifupdown,
         iptables-persistent | netfilter-persistent,
         iputils-ping,
         iputils-tracepath,
         isc-dhcp-server,
         netstat-nat,
         nornet-api,
         nornet-management,
         nornet-node | nornet-server,
         ntp,
         python (>= 2.7),
         radvd,
         snmpd,
         squid3,
         traceroute,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: nornet-trace-service
Suggests: collectd, stab, tracebox
Description: NorNet Tunnelbox Control
 This package contains the scripts to configure the tunnelboxes of NorNet
 sites.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-filesrv
Architecture: all
Depends: nfs-kernel-server,
         nornet-api,
         nornet-management,
         python3,
         python3-adns,
         tftpd-hpa,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet File Server
 This package contains the scripts to configure a file server
 on a NorNet central site.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-artwork
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: NorNet Artwork
 This package contains some images for the monitor server
 on a NorNet central site.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-monitor
Architecture: all
Depends: apache2,
         libapache2-mod-php5,
         nagios3,
         nagios3-doc,
         nornet-api,
         nornet-artwork,
         nornet-management,
         postfix,
         python (>= 2.7),
         wdg-html-validator,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Monitor
 This package contains the scripts to configure a generic monitoring station
 on a NorNet central site.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-display
Architecture: all
Depends: firefox,
         kdm | sddm,
         kubuntu-desktop | neon-desktop,
         nornet-api,
         nornet-management,
         xserver-xorg-video-vmware,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Display
 This package contains the packages to set up a display station for the
 results of the monitoring station. It is in fact just a node with a web
 browser and the necessary GUI.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-gatekeeper
Architecture: all
Depends: nornet-api, nornet-management, ${misc:Depends}, ${shlibs:Depends}
Description: NorNet Gatekeeper
 This package contains the packages to set up a gatekeeper station for the
 project presentation. It is in fact just a node with a dependency on the
 additional packages.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-websrv
Architecture: all
Depends: apache2,
         awstats,
         geoip-database-contrib,
         libgeo-ip-perl,
         libnet-dns-perl,
         libnet-ip-perl,
         nornet-api,
         nornet-management,
         oxygen-icon-theme,
         wdg-html-validator,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Web Server
 This package contains the packages to set up a web server station for the
 project presentation. It is in fact just a node with a dependency on the
 Apache packages.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-wikisrv
Architecture: all
Depends: imagemagick,
         libapache2-mod-php5,
         mediawiki,
         mediawiki-extensions,
         nornet-websrv,
         php5-intl,
         postfix,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Wiki Server
 This package contains the packages to set up a wiki station for the
 user-contributed documentation. It is in fact just a node with a
 dependency on the MediaWiki packages.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-timesrv
Architecture: all
Depends: nornet-api, nornet-management, ntp, ${misc:Depends}, ${shlibs:Depends}
Description: NorNet Time Server
 This package contains the packages to set up an NTP server.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-database
Architecture: all
Depends: postgresql, postgresql-contrib, ${misc:Depends}, ${shlibs:Depends}
Description: NorNet Database
 This package contains the packages to set up a database station for
 experiment results collection. It is in fact just a node with a
 dependency on the Postgres packages.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-server
Architecture: all
Conflicts: nornet-node
Depends: grub2-common | grub,
         libvirt-bin,
         nfs-common,
         nornet-api,
         nornet-management,
         ntp,
         openssh-server,
         python (>= 2.7),
         qemu-kvm,
         virt-manager,
         virtinst,
         xauth,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: cfengine3, nornet-ca, ubuntu-server
Description: NorNet Server
 This package contains the scripts to configure a generic server system
 to host NorNet virtual machines.
 .
 See https://www.nntb.no for details on NorNet!

Package: nornet-trace-service
Architecture: any
Depends: hipercontracer, ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Description: NorNet Trace Service
 NorNet Trace Service is the traceroute service for the NorNet testbed.
 It performs regular traceroute/traceroute6 runs among all sites and
 imports the results into an SQL database.
