#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=cmake


override_dh_auto_configure:
	# NOTE: Build without Python library:
        # * Need to set path for packaging here.
        # * Need to tell setup.py to use Debian layout.
	# NOTE: CMAKE_VERBOSE_MAKEFILE=OFF for reduced log output!
	dh_auto_configure -- -DPYTHON_LIBRARY_PREFIX="$(CURDIR)/debian/tmp/usr" -DPYTHON_SETUP_OPTS="--install-layout=deb" -DCMAKE_VERBOSE_MAKEFILE=OFF

# Use setup.py to install the API module into the right directory.
override_dh_auto_install:
	dh_auto_install --
	# Fix for Ubuntu Trusty CMake installation: move /usr/var/www to /var/www
	mkdir -p $(CURDIR)/debian/tmp/var
	ls -l $(CURDIR)/debian/tmp/usr
	ls -l $(CURDIR)/debian/tmp/var
	if [ -e $(CURDIR)/debian/tmp/usr/var/www ] ; then rm -rf $(CURDIR)/debian/tmp/var/www && mv $(CURDIR)/debian/tmp/usr/var/www $(CURDIR)/debian/tmp/var/www ; fi
	# ifupdown scripts:
	mkdir -p debian/nornet-tunnelbox/etc/network/if-up.d
	mkdir -p debian/nornet-tunnelbox/etc/network/if-down.d
	install -m 0755 debian/nornet-tunnelbox.ifupdown debian/nornet-tunnelbox/etc/network/if-up.d/nornet-tunnelbox
	install -m 0755 debian/nornet-tunnelbox.ifupdown debian/nornet-tunnelbox/etc/network/if-down.d/nornet-tunnelbox


# Use upstream ChangeLog for installation
override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog

# Do not compress example files
override_dh_compress:
	dh_compress -Xnornetapi-config -Xnornetapi-constants
