#!/bin/bash

# ------ Set fallback IP settings here! -------
CENTRAL_SITE_TB="10.1.1.1"
FALLBACK_INTERFACE="eth2"
FALLBACK_ADDRESS="172.16.1.111/24"
FALLBACK_GATEWAY="172.16.1.1"
# ---------------------------------------------

# ***** Uncomment to activate! *****
# WATCHDOG_COMMAND="ping -c5 -i0.2 -W3 -q $CENTRAL_SITE_TB"

WATCHDOG_MAXFAILURES="3"
WATCHDOG_FAILCOUNT_FILE="/usr/local/share/nornet-server/nornet-watchdog.failcount"
WATCHDOG_FAILURE_ACTION="echo 'Performing reboot!' ; /sbin/reboot"
WATCHDOG_FAILURE_FINAL="
echo 'Setting fallback address!' ;
/sbin/ip addr add $FALLBACK_ADDRESS dev $FALLBACK_INTERFACE ;
/sbin/ip route del default ;
/sbin/ip route add default via $FALLBACK_GATEWAY ;
echo 'nameserver 8.8.8.8' >/etc/resolv.conf ;
/bin/bash -c 'service nornet-server stop' ;
/bin/bash -c 'env DEBIAN_FRONTEND=noninteractive /usr/bin/dpkg --configure -a' ;
/bin/bash -c 'env DEBIAN_FRONTEND=noninteractive /usr/bin/apt-get update -qq' ;
/bin/bash -c 'env DEBIAN_FRONTEND=noninteractive /usr/bin/apt-get install -f -y -q' ;
/bin/bash -c 'env DEBIAN_FRONTEND=noninteractive /usr/bin/apt-get dist-upgrade -y -q'"
